<!DOCTYPE HTML>
<html>
<head>
    <title>Let's start</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <form method="post">
        <button type="submit">Определить класс</button>
        <div>{{flowers}} </div>
    </form>
</div>

<form method="get" action="/train">
    <button type="submit">Обучить</button>
    <div>{{info}}</div>
</form>

</body>
</html>