<!DOCTYPE HTML>
<html>
<head>
    <title>Let's start</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <form method="get" action="/train">
        <button type="submit">Train network</button>
      <p/>
        {{#info}}
            <div>
                <b>{{label}}</b>
            </div>
        {{/info}}

    </form>
</div>
<p/>
<div>
    <form method="post">
        <input type="number" step="0.01" name="lengthPetal" placeholder="Length of Petal" />
        <input type="number" step="0.01" name="widthPetal" placeholder="Width of Petal" />
        <input type="number" step="0.01" name="lengthSepal" placeholder="Length of Sepal" />
        <input type="number" step="0.01" name="widthSepal" placeholder="Width of Sepal" />
        <button type="submit">Define flower</button>
        <p/>
        {{#flowers}}
            <div>
                <b>{{label}}</b>
            </div>
        {{/flowers}}
    </form>
</div>


</body>
</html>